* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
ul li {
  list-style: none;
  padding: 1rem;
  font-size: 2rem;
}

li a {
  text-decoration: none;
}

.grid-body {
  background-color: #35383a;
  width: 100%;
}
/* Grid Styling */
main {
  display: grid;
  grid-template-areas:
    "orangered orangered orangered orange"
    "orangered orangered orangered orange"
    "green green blue blue"
    "green green blue1 blue1";
  gap: 8px;
  width: 30%;
  padding: 2rem 6rem 2rem 2rem;
  background-color: #1a1c28;
  margin: 15vh auto;
}

.item1 {
  background-color: #e74f2b;
  grid-area: orangered;
  text-align: center;
  padding: 3rem;
}

.item2 {
  background-color: #efa31d;
  grid-area: orange;
  padding: 1.5rem;
}

.item3 {
  background-color: #59affe;
  grid-area: blue;
  padding: 1.5rem;
}

.item4 {
  background-color: #51ab43;
  grid-area: green;
  padding: 3.5rem;
}

.item5 {
  background-color: #59affe;
  grid-area: blue1;
  padding: 1.5rem;
}
/* End of Grid */

/* FlexBox */

#flex-body {
  font-family: "Lexend Deca", sans-serif;
  font-family: "Big Shoulders Display", cursive;
  /* background-color: #35383a; */
}

.flexbox {
  width: 70%;
  height: 33rem;
  margin: 8vh auto;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  padding-top: 3rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex1 {
  background-color: hsl(31, 77%, 52%);
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  width: 24%;
  text-align: justify;
  height: 23rem;
  border-radius: 10px 0 0 10px;
}

h2 {
  color: hsl(0, 0%, 95%);
  padding-top: 1rem;
  font-size: 2em;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.8em;
  padding-top: 1rem;
  font-family: "Lexend Deca", sans-serif;
}

.btn1 {
  margin-top: 4rem;
  width: 7rem;
  padding: 0.5em;
  border-radius: 2rem;
  border: none;
  color: hsl(31, 77%, 52%);
}

.btn1:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 95%);
}

.flex2 {
  background-color: hsl(184, 100%, 22%);
  flex-direction: column;
  padding: 2.5rem;
  width: 24%;
  text-align: justify;
  height: 23rem;
}

.btn2 {
  margin-top: 4rem;
  width: 7rem;
  padding: 0.5em;
  border-radius: 2rem;
  border: none;
  color: hsl(184, 100%, 22%);
}

.btn2:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 95%);
}

.flex3 {
  background-color: hsl(179, 100%, 13%);
  flex-direction: column;
  padding: 2.5rem;
  width: 24%;
  text-align: justify;
  height: 23rem;
  border-radius: 0 10px 10px 0;
}

.btn3 {
  margin-top: 4rem;
  width: 7rem;
  padding: 0.5em;
  border-radius: 2rem;
  border: none;
  color: hsl(179, 100%, 13%);
}

.btn3:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 95%);
}
